@import url('https://fonts.cdnfonts.com/css/rubik-bubbles');
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body {
    text-align: center;
}
#head{
    font-size: 34px;
}
.tHolder{
    background-color: #44330D;
    padding: 10px;
    margin-left: 50%;
    opacity: 70%;
}
p {
    font-size: 24px;
    color: #239B98;
    font-family: 'Rubik Bubbles';
}
a{
    color: #1A13AF;
}
#last{
    margin-bottom: 210px;
}
@media (max-width:460px){
    .tHolder{
        margin: 0%;
        padding: none;
    }
    #last{
        margin-bottom: 185px;
    }
}